<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShiraBox"
        tools:targetApi="33">
        <activity
            android:name=".ui.activity.search.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.ShiraBox" />
        <activity
            android:name=".ui.activity.player.PlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:exported="false"
            android:label="@string/title_activity_player"
            android:theme="@style/Theme.ShiraBox" />
        <activity
            android:name=".ui.activity.resource.ResourceActivity"
            android:exported="false"
            android:label="@string/title_activity_resource"
            android:theme="@style/Theme.ShiraBox" />
        <activity
            android:name=".ui.activity.ReaderActivity"
            android:exported="false"
            android:label="@string/title_activity_reader"
            android:theme="@style/Theme.ShiraBox" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.ShiraBox">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>